@{
  Layout = "_Layout";
}

<h1>Create Treat</h1>

@model PierresSweets.Models.Treat
@using (@Html.BeginForm())
{
  <h3>Treat: @Html.TextBoxFor(model => model.TreatName, new { placeholder="Treat Name"})</h3>
  <input type="submit" value="Create" class="btn btn-info">
}

<p class="enlarge">@Html.ActionLink("Back to Treats", "Index")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>