@{
  Layout = "_Layout";
}

<h1>Treats</h1>
<hr>

@using PierresSweets.Models

@if(Model.Count == 0)
{
  <h2>No treats yet..</h2>
}
else
{
  <ul style="margin-bottom: 4%;">
  @foreach(Treat treat in Model)
  {
    <li class="enlarge">@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
  }
  </ul>
}

<p class="enlarge">@Html.ActionLink("Create Treat", "Create", "Treats")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>