@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Flavor

<h2>Why would you delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Confirm Delete" />
}

<p>@Html.ActionLink("Cancel", "Index", "Home", null, new{@class="btn btn-info"})</p>