@{
  Layout = "_Layout";
}

<h1>Flavors</h1>
<hr>

@using PierresSweets.Models

@if(Model.Count == 0)
{
  <h2>No Flavors have been added..</h2>
}
else{
  <ul style="margin-bottom: 4%">
@foreach (Flavor flavor in Model)
{
  <li class="enlarge">@Html.ActionLink($"{flavor.FlavorName}", "Details", new {id = flavor.FlavorId})</li>
}
</ul>
}

<p class="enlarge">@Html.ActionLink("Create Flavor", "Create", "Flavors")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>